---
const { href, text } = Astro.props;
---
<a
  href={href}
  class="inline-block bg-green-600 text-white font-semibold py-3 px-8 rounded-full shadow-lg hover:bg-green-700 transition duration-300 text-lg"
>
  {text}
</a>
